#theColors div {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
}

#theColors div :first-child {
  margin-top: 15vw;
}

#theColors p {
  margin-left: 1vw;
}

#theColors {
  display: flex;
  flex-direction: row;
  column-gap: 0.25vw;
}
